.dashboard{
    display: flex;
}
.dashbordPart1{
    width: 110px;
    height: 742px;
    flex-shrink: 0;
    border-radius: 0px 8px 8px 0px;
    background: #082777;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    margin-top: 25px;
}
.homeText{
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 10px;
}
.candidates{
    margin-top: 50px;
    opacity: 0.4;
}
.employee{
    opacity: 0.4;
}
.employeeText{
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 15px;
    opacity: 0.4;
}
.candidatesText{
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 15px;
    opacity: 0.4;
}
.dashbord-part-2{
    height: 742px;
    width: 1500px;
    background: #E5EDF9;
}
.dashbordNavbar{
    width:100%;
    height: 6%;
    background: #FFF;
box-shadow: 0px 4px 20px 0px rgba(91, 91, 91, 0.13);
}
.dashbordOverview h1{
    color: #071C50;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin: 25px;

}
.overview-boxes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}
.overview-box1{
    width: 252.5px;
height: 148px;
flex-shrink: 0;
position: relative;
align-items: flex-end;
box-sizing: border-box;
}
.overview-box2{
    width: 228.5px;
height: 127px;
flex-shrink: 0;
border-radius: 8px;
background: #F3F8FF;
display: flex;
justify-content: space-between;
}
.overview-box3{
    width: 56px;
height: 62px;
flex-shrink: 0;
border-radius: 20px;
border: 1px solid rgba(8, 39, 119, 0.51);
background: #F3F8FF;
transform: translate(-30%, -30%);
display: flex;
align-items: center;
justify-content: center;
}
.requiredAttention h1{
    color: #071C50;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 10px;
    margin-left: 15px;
}

.a1{
    margin: 20px;
}
.overview-box3-text{
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px;
}
.requiredAttentionBlocks{
    width:95%;
    height:253px;
    border-radius: 10px;
    background: #F3F8FF;
    box-shadow: 0px 4px 20px 0px rgba(91, 91, 91, 0.13);
    margin-left: 15px;
}
.requiredAttentionTitles{
    width: 100%;
    height: 15%;
    border-radius: 10px;
}
.requiredAttentionBlock{
    width:100%;
    height:20%;
    display: flex;
    align-items: center;
}
.requiredAttentionBlock p{
    margin-left: 175px;
}

.requiredAttentionBlock h3, svg{
    margin-left: 10px;
}
.requiredAttentionTitles{
    display: flex;
    justify-content: flex-end;
    
}
.requiredAttentionTitles p{
    margin-left: 115px;
    margin-right: 10px;
}
.requiredAttentionBlock1{
    display: flex;
    align-items: center;
    width:25%;
    height: 100%;
}
.requiredAttentionBlock2{
    width: 75%;
    height: 100%;
    display: flex;
    margin-right: 25px;
}