.container{
    display: flex;
}
.dashbordPart1{
    width: 110px;
    height: 742px;
    flex-shrink: 0;
    border-radius: 0px 8px 8px 0px;
    background: #082777;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    margin-top: 25px;
}

.employee_candidates{
    margin-top: 60px;
    opacity: 0.4;
}
.employee-home{
    opacity: 0.4;
}
.employee_home_Text {
    color: white;
    margin-left: 35%;
    margin-top: -40%;
    margin-bottom: 50%;
    opacity: 0.4;
}
.employee_employee1{
    opacity: 1;
}
.employeeText{
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 15px;
    opacity: 1;
}
.candidatesText{
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 15px;
    opacity: 0.4;
}
.dashbord-part-2{
    height: 742px;
    width: 1500px;
    background: #E5EDF9;
}
.dashbordNavbar{
    width:100%;
    height: 6%;
    background: #FFF;
box-shadow: 0px 4px 20px 0px rgba(91, 91, 91, 0.13);
}
.addEmployeeButton button{
 width: 180px;
height: 35px;
flex-shrink: 0;
border-radius: 8px;
background: #4B93E7;
border: none;
font-size: 16px;
color: white;
display: flex;
align-items: center;
justify-content: space-evenly;
}
.addEmployeeButton{
    margin: 15px;  
    margin-left: 1100px;
}
.employeeBlock{
    display: flex;
    width: 92%;
    height: 13%;
    margin-left: 3%;
    align-items: center;
    background-color: #F3F8FF;
    margin-bottom: 7px;
}
.employeeBlock svg{
    margin-left: 15px;
}
.employeeBlockNameEmail h2{
    color: #071C50;
    margin: 0px;
    padding: 0px;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 10px;
}
.employeeBlockNameEmail p{
    margin: 5px;
    margin-left: 10px;  
    padding: 0px;
}
.employeeBlockLine{
   height: 95%;
   width: 2.5px;
   background-color: #E5EDF9;
   margin-left: 600px;
}
.employeeBlockEditDelete button{
color: white;
border-radius: 8px;
background: #4B93E7;
border: none;
}
.employeeBlockEdit{
width: 120px;
height: 35px;
margin: 25px;
}
.employeeBlockDelete{
    width: 120px;
    height: 35px;
    margin: 25px;
    }
    .icons{
        display: flex;
        margin: 10px;
    }
    .popup {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        transform: translate(0%,-100%);
        visibility: hidden;
    }
    .open-popup{
        visibility: visible;
    }

    form {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
    }

    label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
    }

    input, select {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .popup button{
        background-color: #4B93E7;
        color: #fff;
        cursor: pointer;
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .popup button:hover{
        background-color: #408ee8;
    }
    
    .employee_candidates{
        padding-left: 5%;
    }