.empcontainer{
   width: 100%;
   display: flex;
   background-color: white;
   align-items: center;
   gap: 1.6em;
   padding: 1.3em;
   margin: 0.7em 0em;
   border-radius: 5px;
}

.empcontainer >img,.empcontainer> a{

    max-width: 32px;
    flex-grow: 1;
    justify-self: flex-end;
    cursor:pointer;
    padding: 2em 0em;
}

.empcontainer> a >img{
    max-width: 32px;
}

.profile{
    min-width:4em;
    min-height:4em;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #b4c1d0;
    color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    display: flex;
    gap: 1.3em;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 1;
}

.empname{
    font-size: 1.5rem;
    font-weight: 600;
    width: 40%;
    min-width: 190px;
}

.item{
    width: 40%;
    display: flex;
    gap:0.6em;
    align-items: center;
    min-width: 190px;
}

.item > img{
    width:1em;
}

.text-2{
    width: 40%;
    min-width: 190px;
}

.text-2  strong{
    font-weight: 500;
}

@media (max-width:500px){
    .empcontainer{
        gap:0.3em;
        padding: 1em 0.3em;
    }
    .empname,.item,.text-2{
        width: fit-content;
        
    }
    .text{
        max-width:60%;
    }
}