.header{
    display: flex;
    margin-left: 120px;
    padding: 1.35em;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    gap:1em;
}

.search-box{
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 450px;
    border: 0.01px solid #505d80;
    border-radius: 5px;
}

.search-box input{
    border: none;
    outline: none;
    padding: 0.4em 0.7em;
    font-family: inherit;
    letter-spacing: 1.1px;
    width: 93%;
}

.search-box input:focus{
    outline: none;
}

.search-box img{
    margin-left: 0.5em;
    width:1em;
}

.name{
    display: flex;
    align-items: center;
    gap:1.3em;
}


@media (max-width:650px){
    .name{
        gap:0.4em;
    }
    .header{
        padding: 1em;
    }
}

@media (max-width:480px){
    .header{
        margin-left: 80px;
    }
    
    
}