.leave{
    background: #e3eefe;    
    width: 1488px;
    height: 740px;
}
.leave_navbar{
    width: 1488px;
    height: 55px;
    background-color: white;
    box-shadow: 0px 4px 20px 0px rgba(91, 91, 91, 0.13);
    }
    .leave-box{
        margin-top: 40px;
        margin-left: 2.5%;
        width: 92%;
        height:100px;
        padding-left: 15px;
        display: flex;
        align-items: center;
        background-color: #f3f8ff;
    }
    .leave-username-email{
        margin-left: 15px;
        width: 27%;
    }
    .leave-username{
        font-size: 20px;
        font-weight: 500;
    }
    .leave-email{
        color: gray;
    }
    .leave-break{
        width: 6px;
        height: 75px;
        background-color: #e3eefe;
        border-radius: 8px;
    }
    .leave-dates{
        display: flex;
        padding: 10px;
        margin-left: 40px;
        align-items: center;
    }
    .leave-to{
        margin-left: 50px;
    }
    .leave-from{
        margin-right: 50px;
    }
    .leave-break{
        margin-left: 50px;
       
    }
    .leave-accept-button,
.leave-reject-button {
  margin-left: 70px;
}
.leave-accept-button button {
  width: 120px;
  height: 35px;
  border: none;
  border-radius: 8px;
  background-color: #cde0fd;
}
.leave-reject-button button {
  width: 120px;
  height: 35px;
  border: none;
  border-radius: 8px;
  background-color: #cde0fd;
}
button:hover {
  background-color: #adcdfe;
  cursor: pointer;
}