.navbar{
    background-color:#082777 ;
    width:120px;
    text-align: center;
    height: 100vh;
    position: fixed;
}

.logo{
    margin: 2em 0em;
}

.icons{
    display: flex;
    flex-direction: column;
    gap:1em;
    margin-top: 2em;
}

.icons div{
    color:#CFD8DC;
    opacity:0.5;
}

.icons div p{
    margin-top: 0.5em;
}

 .icons .special{
    border-left:#F7AC25 8px solid;
    opacity: 1;
}

@media (max-width:480px){
    .navbar{
        width: 80px;
    }
    
}